@{
    ViewData["Title"] = "Home Page";
}
<h1>Hallo Gärtner 🌼</h1>
<p>Hier entsteht eine neue Web-Anwendung, in der alle Daten rund um einen Garten gepflegt werden können</p>

<ul>
    <li>
        Privater Garten:
        <ul>
            <li>Daten des Garten</li>
            <li>Wasser</li>
            <li>Strom</li>
            <li>Abrechnungen</li>
        </ul>
    </li>
    <li>
        Teil eines Vereines
        <ul>
            <li>...</li>
        </ul>
    </li>
    <li>
        Teil eines Verbandes
        <ul>
            <li>...</li>
        </ul>
    </li>
</ul>